
@{
    ViewBag.Title = "Test";
}
<div class="container-fluid">
    <h2>LOGIN SUCCESSFULL!</h2>
    <button class="btn btn-primary"> @Html.ActionLink("Log Out", "LogOut", "Account", new { area = "" }, new { @class = "text-light" })</button>
</div>

